body {
  font-family: Georgia, serif;
  background-color: antiquewhite;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

form {
  display: flex;
  flex-direction: row;
  border: solid 1px dodgerBlue;
}

form > * {
  margin: 0.5rem;
}

.search-label {
  text-decoration: underline;
}

.books-title {
  display: flex;
  justify-content: center;
}

.all-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 4px black;
  margin: 20px;
  padding: 10px;
}

.book-card {
  border: solid 2px lightblue;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 400px;
}

.book-card img {
  max-width: 300px;
}

.book-card button {
  background-color: grey;
  margin: 10px;
}

.single-book {
  border: solid 2px lightblue;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.single-book img {
  max-width: 300px;
}

.single-book button {
  background-color: grey;
  margin: 10px;
}

nav {
  background-color: dodgerBlue;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: cornSilk;
}
